asion-account/asion-account-core/src/test/resources/database/xsd/dataset.xsd

<?xml version="1.0" encoding="ISO-8859-1"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" xmlns:dflt="asion_account">
	<xsd:import namespace="asion_account" schemaLocation="asion_account.xsd" />
	<xsd:element name="dataset">
		<xsd:complexType>
			<xsd:choice minOccurs="0" maxOccurs="unbounded">
				<xsd:element name="asion_account" type="dflt:asion_account__type" />
				<xsd:element name="dbmaintain_scripts" type="dflt:dbmaintain_scripts__type" />
				<xsd:any namespace="asion_account" />
			</xsd:choice>
		</xsd:complexType>
	</xsd:element>
</xsd:schema>
